*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
line-height: 1,6;
background-color: aliceblue;
padding: 20px;
}
.descriçao{
text-align: center;
margin-bottom: 2em;
}
.seçao{
max-width: 1200px;
margin: 0auto;
}
